.git
.gitignore
.env
.env.*
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
docker/db
tools
.wayback-cache
*_profile*
_audit*
_edge*
_final*
/*.png
/*.zip
*.log
wp-content/cache
wp-content/upgrade
wp-content/debug.log
